.container {
  margin-top: 100px;
}
.div-table {
  display: flex;
  align-items: center;
  justify-content: center;
}
th {
  text-align: center;
}
td {
  vertical-align: middle;
  cursor: pointer;
}
li {
  color: aliceblue;
}
img {
  max-height: 50px;
}
.btns {
  display: flex;
  justify-content: center;
  gap: 1%;
}
