<div class="container">
  <div class="div-table">
    <table class="table table-hover table-dark" style="color: white;">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Cover</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comic of comicsId" (click)="openDialog()">
          <td scope="row">{{ comic.id }}</td>
          <td><img class="card-img-top" src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}"></td>
          <td>{{ comic.title }}</td>
          <td>{{ comic.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="btns">
  <a routerLink="/description" class="btn btn-primary">Back</a>
</div>
