<header>
  <mat-toolbar class="header mat-elevation-z4">
    <button class="menu-principal" mat-button [matMenuTriggerFor]="menu"><h1>Menu</h1></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home">Home</button>
      <button mat-menu-item routerLink="/characters">Characters</button>
      <button mat-menu-item routerLink="/hqs">Comics</button>
      <button mat-menu-item routerLink="/events">Events</button>
    </mat-menu>
    <!--span class="title"><h1>All Characters</h1></!--span-->
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <img src="../../../assets/marvel.svg" alt="" routerLink="/home"/>
    </button>
  </mat-toolbar>
</header>

