.header {
  position:fixed;
  top: 0;
  left: 0;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background-color: #3c3c3c;
}
.example-spacer {
  flex: 1 1 auto;
}
button {
  opacity: 1;
  background-color: transparent;
  border: 0;
  align-items: center;
  text-align: center;
}
span h1 {
  color: white;
  margin-left:1%;
  justify-content: cente
}
.menu-principal {
  color: white;
}
.title {
  display: flex;
  justify-content: center;
}

