.container {
  padding: 80px;
  display: flex;
}
.photo {
  margin-left: 2%;
  max-width: 20%;
  max-height: 20%;
}
.description {
  color: white;
  margin-left: 2%;
  padding: 3%;
  flex-wrap: wrap;
  margin-right: 0%;
  flex-grow: 12;
}
.btns {
  display: flex;
  justify-content: center;
  gap: 1%;
}
