<div class="container">
  <div class="card card-body text-center">
    <div class="card-body">
      <h1 class="card-title"><strong>Characters</strong></h1>
      <img src="../../../assets/characterHome.png" alt="">
      <!--a href="{{ character.urls[0].url }}" target="_blank" class="btn btn-primary">Go Character</!--a-->
      <a routerLink="/characters" class="btn btn-primary mt-4" data-toggle="modal" data-target="#exampleModalCenter">Go Character's</a>
    </div>
  </div>
  <div class="card card-body text-center">
    <div class="card-body">
      <h1 class="card-title"><strong>Comics</strong></h1>
      <img src="../../../assets/comicHome.png" alt="">
      <!--a href="{{ character.urls[0].url }}" target="_blank" class="btn btn-primary">Go Character</!--a-->
      <a routerLink="/hqs" class="btn btn-primary mt-4" data-toggle="modal" data-target="#exampleModalCenter">Go Comic's</a>
    </div>
  </div>
  <div class="card card-body text-center">
    <div class="card-body">
      <h1 class="card-title"><strong>Events</strong></h1>
      <img src="../../../assets/eventsHome.jpg" alt="">
      <!--a href="{{ character.urls[0].url }}" target="_blank" class="btn btn-primary">Go Character</!--a-->
      <a routerLink="/events" class="btn btn-primary mt-4" data-toggle="modal" data-target="#exampleModalCenter">Go Event's</a>
    </div>
  </div>
</div>

